<div class="container">
	<div class="row justify-content-center">
		<div class="col-6">
			<h1 class="text-center">Nueva Publicación</h1>
			<%= form_for @post do |f| %>
				<div class="form-group">
					<%= f.label :title, "Título" %>
					<%= f.text_field :title, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :description, "Descripción" %>
					<%= f.text_area :description, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= fields_for @post.pictures.build do |p| %>					
						<%= p.label :image_url, "Inserta url de la imagen" %>
						<%= p.text_field :image_url, class: "form-control" %>
					<% end %>										
				</div>		
		  		<%= f.submit "Create", class: "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>